.container {
    height: 100vh;
    width: 100vw;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.introContainer {
    max-width: 60%;
}

.intro {
    font-size: 5vw;
    font-weight: 800;
    text-align: center;
}

.signInBtn {
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    outline: none;
    border: none;
    gap: 10px;
    border-radius: 50vw;
    padding: 10px;
    padding-right: 15px;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    margin: auto;
    margin-top: 15px;
    font-size: 25px;
}

.btnImageContainer {
    width: 2.5em;
    height: 2.5em;
    position: relative;
}

.btnImageContainer img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.emojiContainer {
    position: relative;
    user-select: none;
    width: 400px;
    height: 400px;
}

.emojiContainer img {
    height: 100%;
    width: 100%;
}

.emojiContainer::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: radial-gradient(#0000003d 20%, #00000000 60%);
    transform: rotateX(100deg);
    position: absolute;
    top: 52%;
}

@media (max-width: 800px) {
    .container {
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }

    .emojiContainer {
        width: 50vw;
        height: 50vw;
    }
    .signInBtn {
        font-size: 16px;
    }
}
